.sliderbox{
    transition: transform 1s ease-in-out;
}
.button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 8px;
    border: 1px solid black;
}
.footerh3{
    color: #545252;
}
